---
import HalamanAwal from "../layout/halaman-awal.astro";
import semuaPostingan from "../data/semua-postingan";
import konfigurasi from "../konfigurasi.yml";
import Iklan from "../komponen/iklan.svelte";
---

<HalamanAwal link_aktif="beranda" judul={konfigurasi.judul}>
    <div class="grid grid-cols-1 sm:grid-cols-3 lg:grid-cols-4 gap-4">
        {
            semuaPostingan()
                .sort((a, b) => (a.published_date < b.published_date ? 1 : -1))
                .map((x) => (
                    <a href={`/${x.slug}`}>
                        <img
                            class="rounded-xl aspect-[304/171] object-cover"
                            src={x.gambar}
                            loading="lazy"
                            alt={`Gambar ${x.title}`}
                        />
                        <p class="pt-3 pb-5">{x.title}</p>
                    </a>
                ))
        }
    </div>
</HalamanAwal>
