---
import konfigurasi from "../konfigurasi.yml";

const { judul, deskripsi, gambar } = Astro.props;
const url = Astro.url;
---

<!DOCTYPE html>
<html lang="id">
    <head>
        <meta name="resource-type" content="document" />
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta http-equiv="content-language" content="id-id" />
        <meta name="author" content="Zen" />
        <meta name="contact" content="muhzaini30@gmail.com" />
        <meta
            name="copyright"
            content="Copyright (c) Zen. All Rights Reserved."
        />
        <meta
            name="keywords"
            content="blogging, pemrograman, psikologi, renungan"
        />
        <meta
            name="robots"
            content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1"
        />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <link rel="icon" href={konfigurasi.icon} />
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{judul}</title>
        <meta name="description" content={deskripsi} />

        <link rel="canonical" href={url} />
        <meta property="og:locale" content="id_ID" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content={judul} />
        <meta property="og:description" content={deskripsi} />
        <meta property="og:url" content={url} />
        <meta property="og:image" content={gambar} />
        <meta property="og:site_name" content={konfigurasi.judul} />
        <meta
            property="article:publisher"
            content="https://www.facebook.com/mzaini30/"
        />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="@zenia2020" />
    </head>
    <body>
        <slot />
    </body>
</html>
